body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #FF7F50; /* Vintage orange color for a more vibrant background */
    color: #8B4513;
}

h1 {
    text-align: center;
    color: #F5F5F5; /* Whitesmoke color for the title */
    text-shadow: 3px 3px 6px #000000; /* Increased text shadow for a more cartoon-like feel */
}

.list-group-item {
    border: 2px solid #8B4513; /* Added border for more contrast */
    margin-bottom: 15px;
    background-color: #87CEEB; /* Sky blue color for items for more contrast */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 20px;
    transition: all 0.3s ease-in-out;
}

.list-group-item:hover {
    transform: scale(1.05);
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
}

blockquote {
    margin: 0;
    padding: 10px 20px;
    font-weight: bold;
    border-left: 5px solid #8B4513;
    background-color: #f5f5dc;
}

footer {
    text-align: center;
    background-color: #FFA500; /* Bright orange color for footer background */
    padding: 10px;
    color: #fff;
}